############################
# Python cache
############################
__pycache__/
*.pyc
*.pyo

############################
# Virtual environments & secrets
############################
venv/
.env
*.env

############################
# Local database
############################
backend.db

############################
# Large / external models (DO NOT PUSH)
############################
models/vit_deepfake.pth
models/signet.pth
models/layoutlmv2/
models/layoutlmv3/

############################
# OS junk
############################
Thumbs.db
.DS_Store
