############################
# Python cache
############################
__pycache__/
*.pyc
*.pyo

############################
# Virtual environments
############################
venv/
.env
*.env

############################
# Local database
############################
backend.db

############################
# Models (large files – not pushed)
############################
models/

############################
# OS junk
############################
Thumbs.db
.DS_Store
